.mic-page-cntr {
  height: 70vh;
}
.mic-btn-ctnr {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mic-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  height: 100%;
}

.mic-page-title-cntr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mic-page-title {
  font-size: 60px;
  font-weight: 700;

  margin-bottom: 5px;
}
.mic-page-info {
  font-size: 16px;
  font-weight: 200;
  color: gray;
}

.settings-btn {
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: rgb(176, 176, 176);
  height: 50px;
  width: 50px;

  transition: color 0.3s ease-in-out;
}

.settings-btn:hover {
  color: #ff7f00;
}

.settings-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);

  z-index: 99;
}
.settings-page {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 40vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  padding: 20px;
  overflow-y: auto;
}

.settings-title-cntr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.settings-title {
  font-size: 20px;
  color: rgb(171, 171, 171);
}

.exit-btn {
  color: rgb(171, 171, 171);
  cursor: pointer;
}
