.conversation-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.conversation-tab h1 {
  margin-bottom: 5px;
}

.conversation-tab p {
  margin-bottom: 40px;
}

.icon-wrapper {
  color: black;
}
