.drop-down-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.drop-down-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.drop-down-arrow:hover {
  color: #ff7f00;
}
